{% extends 'base.html' %}
 
{% block content %}
<div class="form" id="container-form">
    <form id="form" action="/create" method="post"> 
        <div class="control-form">
            <label>Nombre</label>
            <input type ="text" name="name" placeholder ="Nombre" class="input-field" required/>
        </div> 
        <div class="control-form">
            <label>Autor</label>
            <input type ="text" name ="autor" placeholder ="Autor" class="input-field" required/>
        </div> 
        <div class="control-form">
            <label>Puntuación</label>
            <input type ="number" step="any" name ="rating" placeholder ="Puntos" class="input-field" max="10" required/>
        </div> 
        </br>
        <div id="btn">
            <input type="submit" id="submit-btn" value="Añadir" class="submit-btn"/>
        </div>
    </form> 
</div>
{% endblock content %}
